@media screen and (max-width:780px) {
    .logo {
        width: 100%;
        max-width: 300px;
        padding: 15px 15px;
    }
    .logo h2{
    font-size:28px;
    }
    .logo small{
        font-size:11.2px;
    }
    .login-form {
        width: 100%;
        height: 100%;
    }
    .dark-link {
        display: block;
    }
    .banner-login {
        display:none;
    }
    .box {
        display: none;
    }
    .cadastro-parent{
        background-color:#fff;
    }

    .cadastro-parent {
        width: 100%;
        padding: 0 3%;    
    }  

}